@model WorkingScheduleViewModel
@{
    ViewData["Title"] = "Çalışma Saatleri";
}

@section Styles
{
    <link href="/Content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-list-2 text-primary"></i>
            </span>
            <h3 class="card-label">Çalışma Saatleri</h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a href="#" name="btnAdd" id="btnAdd" class="btn btn-primary font-weight-bolder" data-toggle="modal" data-target="#createOrEditModal">
                <i class="la la-plus"></i>Yeni Kayıt
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="example1" style="margin-top: 13px !important;">
            <thead>
                <tr>
                    <th>Vardiya Adı</th>
                    <th>Başlangıç Saati</th>
                    <th>Bitiş Saati</th>
                    <th>Durumu</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WorkingScheduleList)
                {
                    <tr>
                        <td>@item.NAME</td>
                        <td>@item.START_TIME</td>
                        <td>@item.END_TIME</td>
                        <td>@(item.ISACTIVE ? "Aktif" : "Pasif")</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-clean btn-icon" title="Güncelle" data-toggle="modal" data-target="#createOrEditModal" data-id="@item.WORKING_SCHEDULE_ID">
                                <i class="la la-edit"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-clean btn-icon" title="Sil" data-toggle="modal" data-target="#deleteModal" data-id="@item.WORKING_SCHEDULE_ID">
                                <i class="la la-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>



<form role="form" id="frmWorkingSchedule">
    <div class="modal fade" id="createOrEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vardiya</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Vardiya Adı</label>
                            @Html.TextBoxFor(m => m.WorkingSchedule.NAME, new { @class = "form-control", @placeholder = "Vardiya Adı", @required = true, @id = "name" })
                        </div>
                        <div class="form-group">
                            <label>Vardiya Başlangıç Saati</label>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.WorkingSchedule.START_TIME, new { @class = "form-control timepicker", @placeholder = "Başlangıç Saati", @required = true, @id = "startDate", @autocomplete="off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Vardiya Bitiş Saati</label>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.WorkingSchedule.END_TIME, new { @class = "form-control timepicker", @placeholder = "Bitiş Saati", @required = true, @id = "endDate", @autocomplete="off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio-inline">
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.WorkingSchedule.ISACTIVE, true, new { @id = "isActive", @name = "isActive" })
                                    Aktif
                                    <span></span>
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.WorkingSchedule.ISACTIVE, false, new { @id = "isPassive", @name = "isPassive" })
                                    Pasif
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <input type="hidden" id="id" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Kaydet</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</form>


<form role="form" id="frmDeleteWorkingSchedule">
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vardiya Sil</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <input type="hidden" id="deleteId" name="deleteId" />
                        Silmek istediğinizden emin misiniz?
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Sil</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</form>


@section Scripts
{
    <script src="/Content/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/Content/assets/js/pages/crud/datatables/extensions/select.js"></script>
    <script src="/Content/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script src="/Content/assets/js/pages/crud/forms/widgets/bootstrap-timepicker.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });

        $(function () {
            $('#example1').DataTable();
            $('#startDate, #endDate').timepicker({
                showInputs: false,
                showMeridian: false,
                timeFormat: 'HH:mm',
                maxHour: 24,
                interval: 15
            });
        });

        $('#frmWorkingSchedule').submit(function (e) {
            e.preventDefault();
            var form = $("#frmWorkingSchedule");
                var formData = new FormData(form[0]);
                $.ajax({
                    url: '@Url.Action("CreateOrEditWorkingSchedule","Organization")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    dataType: "json",
                    processData: false,
                    success: function (data) {
                        if (data.success === true) {
                            location.reload();
                        }
                    },
                    error: function (data) {
                        toastr['error']('Hata oluştu. Lütfen daha sonra tekrar deneyiniz.');
                    },
                    complete: function (data) {
                    }
                });
        });

        $('#frmDeleteWorkingSchedule').submit(function (e) {
            e.preventDefault();
            var form = $("#frmDeleteWorkingSchedule");
                var formData = new FormData(form[0]);
                $.ajax({
                    url: '@Url.Action("DeleteWorkingSchedule","Organization")',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    dataType: "json",
                    processData: false,
                    success: function (data) {
                        if (data.success === true) {
                            location.reload();
                        }
                    },
                    error: function (data) {
                        toastr['error']('Hata oluştu. Lütfen daha sonra tekrar deneyiniz.');
                    },
                    complete: function (data) {
                    }
                });
        });

        $('#createOrEditModal').on('shown.bs.modal', function (e) {
            var wsId = $(e.relatedTarget).attr('data-id');
            if (wsId != null) {
                clearForm();

                $.ajax({
                    url: '/Organization/GetWorkingSchedule?id=' + wsId,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#id").val(wsId);
                        $("#name").val(data.NAME);
                        $("#startDate").val(data.START_TIME);
                        $("#endDate").val(data.END_TIME);
                        if (data.ISACTIVE) {
                            $("#isActive").prop("checked", true);
                        }
                        else {
                            $("#isPassive").prop("checked", true);
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    },
                    complete: function (data) {
                    }
                });
            }
        });
        $('#deleteModal').on('shown.bs.modal', function (e) {
            var wsId = $(e.relatedTarget).attr('data-id');
            $('#deleteId').val(wsId);
        });       

        function clearForm() {
            $("#id").val('');
            $("#name").val('');
            $("#startDate").val('');
            $("#endDate").val('');
            $("#isActive").prop("checked", true);
        }
        $('#btnAdd').click(function () {
            clearForm();
        });
        $(function () {
            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false,
                showMeridian: false,
                timeFormat: 'HH:mm',
                maxHour: 24,
                interval: 15
            });
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });
    </script>
}
